.booking {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 3% 2%;
  margin: 5% 8% !important;
}
.booking-heading {
  font-weight: 550;
  float: right;
}
.images-main {
  padding: 1% 0%;
}
.img-col {
  text-align: center;
}
.img-book {
  width: 137px;
  height: 137px;
}
.book-2,
.book-3 {
  width: 115px;
  height: 115px;
}
