.booking-main {
  background-color: #f0f2f5 !important;
  margin: 0%;
  padding: 5%;
}
.booking {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 3% 2%;
  margin: 0% 8% !important;
}
.booking-heading {
  font-weight: 550;
}
.images-main {
  padding: 1% 0%;
  width: 90% !important;
}
.img-col {
  text-align: center;
}
.img-book {
  width: 137px;
  height: 137px;
}
.book-2,
.book-3 {
  width: 115px;
  height: 115px;
}
@media screen and (max-width: 1200px) {
  .pair-images {
    justify-content: space-around !important;
  }
}
@media screen and (max-width: 1000px) {
  .pair-images {
    justify-content: space-between !important;
  }
}
@media screen and (max-width: 780px) {
  .images-main {
    width: 100% !important;
  }
}
@media screen and (max-width: 500px) {
  .booking-main {
    padding: 0% !important;
  }
  .booking {
    border-radius: 0%;
    margin: 0% !important;
  }
}
