/* Summary  */
.summary {
  background-color: white;
  border: 1px solid rgb(153, 151, 151);
  padding: 2%;
  margin: 2%;
  width: 25%;
  /* flex: 1; */
}
.hr-summary {
  width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.623);
}
.summary-text {
  font-size: 20px;
}
/* Checkout  */
.checkout {
  width: 50%;
  margin: 2%;
  margin-left: 0%;
  /* flex: 4; */
  align-self: flex-start;
}
.checkout-box {
  background-color: white;
  border: 1px solid rgb(153, 151, 151);
}
.hr-checkout {
  width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.623);
  margin: 0%;
}
.view-offers {
  color: green !important;
  background-color: rgb(223, 252, 223);
}
.view-offers:hover {
  text-decoration: none;
}
.payment-button {
  width: auto;
  border: none;
  outline: none;
  background-color: rgb(56, 119, 56);
  color: white;
  padding: 1% 2%;
  border-radius: 5px;
  margin: 5% 0%;
}
.payment-button:focus {
  outline: none;
}
.view-offers-text {
  text-decoration: underline;
}
