:root {
  --darkRed: #fc3831;
  --lightRed: #fcf3f3;
  --midRed: #fae8e8;
  --lightGreen: rgb(233, 250, 233);
  --darkGreen: rgb(56, 119, 56);
  --borderGrey: rgb(153, 151, 151);
}
/* Summary  */
.summary {
  background-color: white;
  border: 1px solid var(--borderGrey);
  padding: 1% 2%;
  margin: 2%;
  width: 25%;
  /* flex: 1; */
}
.hr-summary {
  width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.623);
}
.summary-text {
  font-size: 20px;
}
.time-text {
  font-size: 20px;
  font-weight: 600;
}
/* Checkout  */
.checkout {
  width: 50%;
  margin: 2%;
  margin-left: 0%;
  /* flex: 4; */
  align-self: flex-start;
}
.checkout-text {
  font-size: 20px;
}
.checkout-box {
  background-color: white;
  border: 1px solid var(--borderGrey);
}
.hr-checkout {
  width: 100%;
  border-top: 1px solid rgba(201, 198, 198, 0.623);
  margin: 0%;
}
.view-offers {
  color: var(--darkGreen) !important;
  background-color: var(--lightGreen);
}
.view-offers:hover {
  text-decoration: none;
}
.payment-button {
  width: auto;
  border: none;
  outline: none;
  background-color: var(--darkGreen);
  color: white;
  padding: 1% 2%;
  border-radius: 5px;
  margin: 2% 0%;
}
.payment-button:focus {
  outline: none;
}
.view-offers-text {
  text-decoration: underline;
}
.total-amt-div {
  background-color: var(--lightGreen);
}
.total-amt {
  font-size: 20px;
  font-weight: 600;
}
.time-text {
  font-weight: 800;
  font-size: 110%;
}
.pick-drop .to {
  border-radius: 50%;
  background-color: black;
  color: white;
  padding: 1% 5%;
}
/* Policy Section  */
.policy-section {
  border: 1px solid var(--borderGrey);
}
.policy-section .policy {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1rem 1.5rem;
  cursor: pointer;
}
.policy-details {
  padding: 1rem 1.5rem;
  background-color: var(--lightGreen);
}
.hidden-policy {
  display: none;
}
.policy-heading {
  font-size: 20px;
}
@media screen and (max-width: 1200px) {
  .cart-main {
    align-items: center;
  }
  .summary {
    width: 30%;
    margin: 2%;
  }
  .checkout {
    width: 70%;
  }
  .pick-drop {
    font-size: 14px;
  }
  body {
    font-size: 15px;
  }
}
@media screen and (max-width: 900px) {
  .pick-drop {
    font-size: 12px;
  }
}
@media screen and (max-width: 780px) {
  .cart-main {
    align-items: center;
  }
  .summary {
    width: 40%;
  }
  .checkout {
    width: 60%;
  }
  .pick-drop {
    font-size: 14px;
  }
  .total-amt {
    font-size: 17px;
    font-weight: 600;
  }
}
@media screen and (max-width: 680px) {
  .pick-drop {
    font-size: 10px;
  }
}
@media screen and (max-width: 500px) {
  .cart-main {
    flex-direction: column;
    align-items: center;
  }
  .summary {
    width: 95%;
    margin: 2%;
  }
  .checkout {
    width: 95%;
    margin: 2%;
  }
  .cart-bike-img {
    width: 300px;
    height: 220px;
    text-align: center;
    margin: 0 auto;
  }
  .pick-drop {
    font-size: 14px;
  }
  body {
    font-size: 14px !important;
  }
  .checkout-text {
    font-size: 15px;
  }
  .total-amt {
    font-size: 15px;
  }
}
@media screen and (max-width: 350px) {
  .cart-bike-img {
    width: 250px;
    height: 190px;
  }
}
