.container {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
}
.left-body {
  width: 35%;
  border: 1px solid rgba(0, 0, 0, 0.308);
  background-color: white;
  padding: 2% 0%;
}
.right-body {
  width: 65%;
  border: 1px solid rgba(0, 0, 0, 0.377);
  border-left: none;
}

/* left body */
.left-body {
  display: flex;
  flex-direction: column;
}
.section-userinfo {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section-userinfo .content {
  margin: 2px 0px;
}
.section-userinfo .name {
  font-size: 15px;
}
.section-userinfo .profile-img {
  background: #ddd;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: block;
}
.section-userinfo .email {
  padding: 0px 20px 5px 20px;
  /* border-bottom: 1px solid #323a44; */
}
.userinfo-hr {
  border: 0;
  clear: both;
  display: block;
  width: 80%;
  margin: 0% 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
}
.status--container {
  margin: 10px;
}
.status--container span {
  margin-right: 5px;
}
.section-balance {
  margin-bottom: 10px;
}
.section-navbar .item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-size: 15px;
  color: #323a44;
  cursor: pointer;
  list-style-type: circle;
}
#item-6 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.section-navbar .item :hover {
  text-decoration: underline;
}
#numberStatus {
  color: rgb(120, 182, 67);
  font-size: 16px;
}
.section-status .active-icon {
  color: rgb(120, 182, 67);
  font-size: 16px;
}
.section-status .inactive-icon {
  color: rgb(190, 50, 50);
  font-size: 16px;
}
.section-navbar .active-status {
  border: 1px solid rgb(97, 96, 96);
  list-style-type: disc;
  background-color: rgb(241, 239, 239);
}

/* right-body */
.card-body {
  padding-top: 1rem;
}
.card-body label {
  /* margin-bottom: 0% !important; */
}
.heading {
  padding: 1rem 0%;
  display: flex;
  font-size: 25px;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}
.sub-heading {
  font-size: 20px;
  padding: 2px;
  margin: 10px;
  border-bottom: 1px solid #ccc;
}

/* My Profile  */
.account-main {
  display: flex;
}
.account-form--heading {
  font-size: 20px;
  padding: 2px;
  margin: 10px;
  border-bottom: 1px solid #ccc;
}
.permanent-address {
  margin: 2% 2% 3% 2%;
}
.submit-dashboard {
  display: flex !important;
  justify-content: center;
}
.submit-dashboard .submit-btn {
  border: 2px solid black;
  background-color: #fff;
  padding: 1% 2%;
  margin-top: 2%;
}
.verify-main {
  display: flex;
}

/* Refer And Earn  */
.referral-div {
  padding-bottom: 3%;
}
.referral-img {
  width: 80% !important;
}
.referral-heading {
  font-size: 250%;
  font-weight: 600;
  color: blue;
  padding: 2%;
}
.referral-heading .refer-money {
  color: red;
}
.referral-div .referral-first {
  display: flex;
  justify-content: space-between;
  background-color: #fbeec1;
  padding: 2%;
  margin: 2%;
}
.referral-div .refer-image {
  width: 300px;
  height: 155px;
}
.referral-div .referral-email {
  width: 80%;
}
.referral-div .referral-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Bookings Section */
.booking--heading {
  margin: 10px;
  border-bottom: 1px solid #ccc;
  color: rgb(85, 83, 83);
}
.bookings-nav .item {
  cursor: pointer;
  padding: 0 3%;
  padding-bottom: 5px;
  margin-bottom: -1px;
}
.bookings-nav .active-booking {
  border-bottom: 2px solid red;
}
.order-details {
  font-size: 110%;
}
.order-details .order-item--bold {
  font-size: 120%;
  font-weight: 700;
}
.booking-card {
  display: flex;
  justify-content: space-between;
  padding: 0% 2% 1% 2%;
}
.booking-card .bike-name {
  font-size: 115%;
}
.pick-drop .to {
  border-radius: 50%;
  background-color: black;
  color: white;
  padding: 1% 5%;
}
.time-text {
  font-weight: 800;
  font-size: 110%;
}
.bookings-main .view-details-section {
  width: 70% !important;
}
.view-details-btn {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.view-details--pending {
  color: red;
}
.booking-card-main .table {
  margin-bottom: 0% !important;
}
.booking-details-heading {
  font-size: 140%;
  font-weight: 700;
}
.booking-card table {
  /* table-layout: fixed; */
  font-size: 15px;
}
.booking-card .table2 th {
  padding: 9px;
  /* white-space: nowrap; */
}
.booking-card .table2 td {
  /* white-space: nowrap; */
  padding: 9px;
  vertical-align: middle;
  text-align: center;
}
/* Deposits Section  */
.deposit-main .btn {
  /* background-color: rgb(172, 171, 170); */
}
.deposit-body .card {
  width: 32%;
  background-color: rgb(248, 247, 247);
}
.deposit-body .modal {
  z-index: 1200 !important;
}
#card-1 {
  border-bottom: 3px solid blue;
}
.deposit-amt {
  font-size: 200%;
}
.add-deposit--form {
  display: none;
}
.booking-card .booking-confirm {
  color: green;
  border-bottom: 2px solid green;
}
.booking-card .booking-cancel {
  color: red;
  border-bottom: 2px solid red;
}
.booking-card .booking-pending {
  color: gray;
  border-bottom: 2px solid gray;
}
/* Raise Ticket  */
.ticket-main .new-request {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 115%;
}
.raise-ticket {
  /* padding: 2%; */
}
.raise-ticket--table caption {
  font-size: 130%;
}
.raise-ticket .contact-section {
  font-size: 110%;
}
select:focus,
select:active {
  outline: none;
}
.request-type-main select {
  padding: 8px 70px 8px 5px;
  color: #818385;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-weight: 400;
  line-height: 1.5;
  font-size: 95%;
}
.new-request .modal {
  z-index: 1200 !important;
}
.request-cards--main {
  margin: 2% 2% 4% 2%;
}
.request-cards--main .card {
  width: 30%;
  /* border: 1px solid red; */
}
.request-cards--main .card:hover {
  transform: scale(1.1);
}
#request-card-0 {
  background-color: rgb(239, 240, 240);
}
#request-card-1 {
  background-color: rgb(239, 240, 240);
}
#request-card-2 {
  background-color: rgb(239, 240, 240);
}
.request-hr {
  /* border-top: 1px solid red;  */
}
/* Profile Verification  */
.preview-img {
  background: #ddd;
  width: 100px;
  height: 90px;
  display: block;
}
.profile-view-image {
  display: flex;
}
.label-preview--change {
  margin-bottom: 0.5rem !important;
}
/* OTP Verification */
.otp-verify-main {
  display: flex;
}
.otp-verify-btn {
  border: 2px solid black;
  padding: 0.5% 2%;
  font-size: 110%;
}
@media screen and (max-width: 500px) {
  .left-body {
    display: none;
    position: absolute;
  }
}
