.motorcycle {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 1.5% 2%;
  margin: 5% 8% !important;
}
.motorcycle-heading {
  font-weight: 550;
}
.scroll-title-main {
  border: 2px solid gray;
}
