.filters {
  background-color: black;
  color: white;
}
.filter-header {
  display: flex;
  justify-content: space-between;
}
.date-time-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input[type="date"] {
  background: transparent;
  border: none;
  color: white;
  padding: 10px 0px;
  width: 165px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.mobile-select {
  background-color: black;
  color: white;
  /* margin: 0 10px; */
}
.pick-date-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.time-arrow {
  font-size: 30px;
  position: absolute;
  left: 45%;
}
.additional-filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15 0;
}
.details-item-bottom {
  width: 70%;
}
.button-details {
  border: 2px solid red;
  padding: 0 12px;
  border-radius: 15px;
  margin-top: -21px;
  background: white;
}
/* Bike Cards  */
.bike-card {
  display: flex;
  border: 2px solid #e5e6e6;
}
.card-bike-img {
  width: 105px;
  height: 85px;
  margin: 2%;
  margin-left: 0;
}
.bike-details {
  display: flex;
  flex-direction: column;
  width: 45%;
  border-left: 2px solid #e5e6e6;
  border-right: 2px solid #e5e6e6;
  padding: 1%;
  justify-content: space-between;
}
.rating {
  width: 55%;
  margin-right: 5px;
}
.bike-name-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bike-name-card span {
  font-weight: 700;
  font-size: 110%;
}
.bike-name-card .home-card {
  font-size: 130%;
}
.bike-location {
  display: flex;
  align-items: center;
}
.book-now {
  background-color: red;
  border: none;
  cursor: pointer;
  color: white !important;
  border-radius: 15px;
  padding: 4px 5px;
  font-size: 14px;
}
.book-now a {
  color: white !important;
}
.discount-price {
  font-size: 22px;
}
/* Sort  */
.sort-main {
  margin: 1%;
  padding: 1%;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
.sort-text {
  font-weight: 700;
}
.sort-item {
  padding: 5px 10px;
  cursor: pointer;
}
.sort-item-active {
  border-bottom: 2px solid var(--darkRed);
}
.hr-sort {
  width: 100%;
  color: black;
  margin-top: 0%;
}
/* Subscription   */
.subscription {
  background-color: var(--midRed);
  padding: 0% 1.5%;
  border: 2px solid rgb(161, 160, 160);
  margin: 1%;
}
.activa-card {
  width: 100px;
  height: auto;
}
.close-div {
  cursor: pointer;
}
.activa-card-heading {
  font-weight: 800;
  font-size: 20px;
}
.activa-card-btn {
  background-color: black;
  border-radius: 15px;
  color: white;
  padding: 0.5% 3%;
  cursor: pointer;
  width: 40%;
}
.activa-card-btn:focus {
  outline: none;
}
.heading-close {
  width: 100%;
}
.subscribe-inner {
  padding: 1.5%;
}
.description-card {
  font-size: 18px;
  width: 60%;
}
.bike-card-main {
  display: flexff;
  flex-direction: column;
  background-color: white;
}
.bike-coverage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.bike-coverage-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  padding: 0px 5px;
}
@media screen and (max-width: 500px) {
  .time-arrow {
    font-size: 40px;
  }
}
@media screen and (max-width: 400px) {
  .time-arrow {
    font-size: 35px;
  }
  .sort-main {
    font-size: 14px;
  }
  .sort-item {
    padding: 5px;
  }
  .bike-coverage-detail {
    font-size: 15px;
  }
}
@media screen and (max-width: 370px) {
  .pick-date-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  input[type="date"] {
    width: 140px;
  }
  .book-now {
    font-size: 11px;
  }
  .description-card {
    width: 50%;
  }
  .activa-card-btn {
    width: 50%;
  }
}
@media screen and (max-width: 320px) {
  .bike-coverage-detail {
    font-size: 13px;
  }
}
@media screen and (min-width: 500px) {
  .mobile-main {
    display: none;
  }
}
