:root {
  --darkRed: #fc3831;
  --lightRed: #fcf3f3;
  --midRed: #fae8e8;
}

/* Filters */

.filters {
  background-color: white;
  padding: 2% 0%;
  width: 40%;
  font-size: 20px;
  /* border: 5px solid var(--darkRed); */
}
.filter-text {
  /* background-color: rgb(211, 208, 208); */
  text-align: center;
  padding: 2% 0%;
  margin: 0% 2%;
}
.filter-bottom {
  /* border: 2px solid black; */
  box-shadow: 0px 0px 5px 0px gray;
  margin: 5%;
}
.date-second {
  color: #495057;
  border: none;
  padding: 5px 6px;
  width: 90%;
  font-size: 18px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  padding: 0%;
  margin: 0%;
}
.select-css-2 {
  border: 1px solid transparent;
  /* border-bottom: 1px solid; */
  border-radius: 0%;
  padding: 0%;
}
.hr-filter {
  width: 100%;
  margin: 0%;
  border-top: 1px solid rgb(175, 172, 172);
}
.details-item {
  background-color: white;
  border-radius: 0px;
  padding: 10px 15px !important;
  font-size: 15px;
}

.details-item-bottom {
  background-color: white;
  border-radius: 0px;
  /* border: 1px solid gray; */
  padding: 5px 10px 0px 10px !important;
  font-size: 15px;
}
.details-item-bottom label {
  margin: 0%;
  margin-left: 5px;
}
.details-card-text {
  font-size: 13px;
  font-weight: 550;
  color: #7c7a7a;
}
.card-text-2 {
  font-size: 20px;
}
.ridobiko-btn {
  border-radius: 10px;
  border: 1px solid var(--darkRed);
  padding: 0%;
  cursor: pointer;
  height: 50px;
  border-radius: 30px;
}
.ridobiko-btn:hover {
  background-color: var(--darkRed);
  color: white;
}
.details-item label {
  margin: 0%;
  margin-left: 5px;
}
.date-time-div {
  /* border: 2px solid black; */
  box-shadow: 0px 0px 5px 0px gray;
  margin: 5%;
}
.search-btn {
  background-color: var(--darkRed);
  border-radius: 30px;
  padding: 5px 55px;
  outline: none;
  border: 2px solid transparent;
  color: white;
}
.search-btn:focus {
  outline: none;
  border: 1px solid transparent;
}
/* Bike Cards  */
.bike-list-main {
  background-color: white;
  margin: 0% 3% 0% 1%;
}
.main-card {
  border: 1px solid #e5e6e6;
  margin: 10;
}
.main-card:hover {
  border: 1px solid var(--darkRed);
  background-color: var(--lightRed);
}
.all-details {
  padding: 1.5% 2% 0% 2%;
  border-left: 2px solid #e5e6e6;
}
.card-bike-img {
  width: 180px;
  height: 130px;
  margin: 1%;
}
.more-locations {
  color: var(--darkRed);
}
.hr-bike {
  display: block;
  width: 100%;
  margin-bottom: 0%;
}
.terms {
  color: var(--darkRed);
}

.bike-name {
  font-size: 20px;
  font-weight: 600;
}
.bike-location {
  margin: 1% 0%;
  color: #616161;
}
.location-arrow {
  font-size: 18px;
}
.location-1 {
  margin: 0% 1%;
}
.bold-text {
  color: #6a6a6a;
}
.facilities {
  color: #7d7d7d;
}
.more-details {
  color: #7d7d7d;
  margin: 1% 0%;
}
.rating {
  border-left: 2px solid #f2f2f2;
  padding: 1%;
}
.book-now {
  background-color: var(--darkRed);
  color: white;
  font-size: 13px;
  padding: 5%;
  border-radius: 25px;
  outline: none;
  border: none;
}
.book-now :focus {
  border: none;
  outline: none;
}
.rate-checked {
  color: var(--darkRed) !important;
}
.rate-unchecked {
  color: #c2c0c0 !important;
}
.original-price {
  margin: 0% 0%;
  font-size: 20px;
}
.discount-price {
  margin: 0% 0% 0% 0%;
  font-size: 30px;
}
.home-icon {
  color: var(--darkRed);
}
.delivery-section {
  margin-top: 2%;
}
.more-details {
  color: var(--darkRed);
  border: 2px solid #dfdcdc;
  border-radius: 15px;
  padding: 0.2% 1% 0.2% 2%;
  margin-top: -25px;
  background-color: white;
  width: 155px;
  position: relative;
  left: 40%;
  text-align: center;
  display: flex;
}
.more-details:hover {
  border: 2px solid rgb(189, 187, 187);
  cursor: pointer;
}
.more-down-details {
  color: black;
}
.hr-bike-card-main {
  display: block;
  width: 100%;
  margin-top: 0%;
}
.more-detail-heading {
  font-size: 20px;
  font-weight: 700;
  color: gray;
}
.compulsion {
  background-color: var(--midRed);
  padding: 1%;
  margin: 1% 0%;
}
.policies {
  padding: 0% 5%;
  margin-bottom: 2%;
}
.policy {
  /* margin-left: 2%; */
}
.vehicle-damage-policy {
  margin-left: 4%;
}
.text {
  width: 200px;
}
.more-policies {
  margin-top: 2%;
}
.more-details-section {
  display: none;
}
.less-details {
  color: var(--darkRed);
  border: 2px solid #dfdcdc;
  border-radius: 15px;
  padding: 0.2% 1% 0.2% 2%;
  margin-top: -25px;
  background-color: white;
  width: 155px;
  position: relative;
  left: 40%;
  text-align: center;
  display: none;
}
.less-details:hover {
  border: 2px solid rgb(189, 187, 187);
  cursor: pointer;
}
#more-details-btn {
  display: flex;
}

.cart-btn {
  color: white;
  text-decoration: none;
}
.cart-btn:hover {
  color: white;
  text-decoration: none;
}
.cart-btn:focus {
  outline: none;
}

/* Sort  */
.sort-main {
  margin: 1%;
  /* background-color: rgb(211, 208, 208); */
  padding: 1%;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
.sort-item {
  padding: 5px;
  cursor: pointer;
}
.sort-item-active {
  border-bottom: 2px solid var(--darkRed);
}
.hr-sort {
  width: 100%;
  color: black;
  margin-top: 0%;
}
/* Subscription Card  */
.subscription {
  background-color: var(--midRed);
  padding: 0% 1.5%;
  border: 2px solid rgb(161, 160, 160);
  margin: 1%;
}
.activa-card {
  width: 100px;
  /* height: 35px; */
}
.close-div {
  cursor: pointer;
}
.activa-card-heading {
  font-weight: 800;
  font-size: 20px;
}
.activa-card-btn {
  background-color: black;
  border-radius: 15px;
  color: white;
  padding: 0.5% 3%;
  cursor: pointer;
}
.activa-card-btn:focus {
  outline: none;
}
.heading-close {
  width: 100%;
}
.subscribe-inner {
  padding: 1.5%;
}
.description-card {
  font-size: 18px;
}
