:root {
  --darkRed: #fc3831;
  --lightRed: #fcf3f3;
  --midRed: #fae8e8;
}

/* Details  */
.details-main {
  padding: 0% 5%;
  margin: 2% 0%;
}
.details-item {
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px !important;
}
.details-card-text {
  font-size: 15px;
  font-weight: 550;
  color: #7c7a7a;
}
.card-text-2 {
  font-size: 20px;
}
.ridobiko-btn {
  border-radius: 10px;
  border: 1px solid white;
  padding: 0%;
  cursor: pointer;
}

/* Main CSS  */
.filters {
  background-color: white;
  padding: 2%;
  font-size: 20px;
}
.bike-list-main {
  background-color: white;
  margin: 0% 3% 0% 1%;
}
.main-card {
  border: 1px solid #e5e6e6;
  margin: 10;
}
.main-card:hover {
  border: 1px solid var(--darkRed);
}
.bike-card {
  padding: 1.5% 0% 0% 0%;
}
.bike-card:hover {
  background-color: var(--lightRed);
}
.card-bike-img {
  width: 180px;
  height: 130px;
}
.more-locations {
  color: var(--darkRed);
}
.hr-bike {
  display: block;
  width: 100%;
  margin-bottom: 0%;
}
.terms {
  color: var(--darkRed);
}
.all-details {
  padding: 0% 2%;
}
.bike-name {
  font-size: 20px;
  font-weight: 600;
}
.bike-location {
  margin: 1% 0%;
  color: #616161;
}
.location-arrow {
  font-size: 18px;
}
.location-1 {
  margin: 0% 1%;
}
.bold-text {
  color: #6a6a6a;
}
.facilities {
  color: #7d7d7d;
}
.more-details {
  color: #7d7d7d;
  margin: 1% 0%;
}
.rating {
  background-color: #f2f2f2;
  padding: 1%;
}
.book-now {
  background-color: var(--darkRed);
  color: white;
  font-size: 15px;
  padding: 5%;
  border-radius: 25px;
  outline: none;
  border: none;
}
.book-now :focus {
  border: none;
  outline: none;
}
.rate-checked {
  color: var(--darkRed) !important;
}
.rate-unchecked {
  color: #c2c0c0 !important;
}
.original-price {
  margin: 0% 0%;
  font-size: 20px;
}
.discount-price {
  margin: 0% 0% 0% 0%;
  font-size: 30px;
}
.home-icon {
  color: var(--darkRed);
}
.delivery-section {
  margin-top: 2%;
}
.more-details {
  color: var(--darkRed);
  border: 2px solid #dfdcdc;
  border-radius: 15px;
  padding: 0.2% 1% 0.2% 2%;
  margin-top: -25px;
  background-color: white;
  width: 155px;
  position: relative;
  left: 40%;
  text-align: center;
}
.more-details:hover {
  border: 2px solid rgb(189, 187, 187);
  cursor: pointer;
}
.more-down-details {
  color: black;
}
.hr-bike-card-main {
  display: block;
  width: 100%;
  margin-top: 0%;
}
.more-detail-heading {
  font-size: 20px;
  font-weight: 700;
  color: gray;
}
.compulsion {
  background-color: var(--midRed);
  padding: 1%;
  margin: 1% 0%;
}
.policies {
  padding: 0% 5%;
  margin-bottom: 2%;
}
.policy {
  margin-left: 2%;
}
.vehicle-damage-policy {
  margin-left: 4%;
}
.text {
  width: 200px;
}
.more-policies {
  margin-top: 2%;
}
.more-details-section {
  display: none;
}
.less-details {
  color: var(--darkRed);
  border: 2px solid #dfdcdc;
  border-radius: 15px;
  padding: 0.2% 1% 0.2% 2%;
  margin-top: -25px;
  background-color: white;
  width: 155px;
  position: relative;
  left: 40%;
  text-align: center;
  display: none;
}
.less-details:hover {
  border: 2px solid rgb(189, 187, 187);
  cursor: pointer;
}
#more-details-btn {
  display: flex !important;
}
