.traveler-story {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 1.5% 1%;
  margin: 5% 8% !important;
}
.traveler-header {
  font-weight: 550;
}
.scroll-icons-2 {
  box-shadow: 0 1px 6px 0 rgb(0 0 0 / 20%);
  border-radius: 20px;
  width: 60px;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.scroll-icon {
  cursor: pointer;
}
.traveler-content {
  padding: 20px;
}
.read-more {
  font-size: 15px;
  color: #1dc2a4;
  /* padding-bottom: 1%; */
}
.traveler-content-main {
  margin: 5% 0% 1% 0%;
}
.card-traveler {
  box-shadow: 0px 0px 5px rgb(197, 196, 196);
  border-radius: 2px;
  padding: 20px 0px;
  margin: 0% 1%;
}
.traveler-date {
  background-color: #1dc2a4;
  color: white;
  border-radius: 10px;
  font-size: 13px;
  width: 90%;
  padding: 0px 5px;
  margin-top: -10px;
}
.traveler-title {
  font-weight: 700;
  font-size: 17px;
}
.bike-image-travel {
  box-shadow: 0px 0px 10px rgb(197, 196, 196);
  margin-top: -35px;
}
@media screen and (max-width: 1000px) {
  .traveler-content-main {
    flex-direction: column;
    align-items: center;
  }
  .card-traveler {
    padding: 0%;
    margin: 2% 0% 6% 0%;
    width: 60%;
  }
}
