.trip-main {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 1.5% 2%;
  margin: 2% 8% 5% 8% !important;
}
.pickup-details {
  border-radius: 15px;
  border: 2px solid #d9d9d9;
  margin: 2% 0%;
  /* align-items: center; */
}
.pick-item {
  padding: 5px;
  border-radius: 15px 0px 0px 15px;
}
.pick-item:hover {
  border: 1px solid #1dc2a4;
  transition: 0.2s;

  background-color: #f2fdfb;
}
.pick-item:active {
  border: 1px solid #1dc2a4;
  transition: 0.2s;

  background-color: #f2fdfb;
}
.location-drop {
  /* padding: 5%; */
  height: 100%;
}

.radio-text {
  margin-bottom: 0rem 0.5rem !important ;
  background-color: #e7e7e7;
  border-radius: 10px;
}

.ridobiko-btn {
  /* padding: 0.25% 4%; */
  color: white;
  letter-spacing: 1.5px;
  font-size: 130%;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: 2px solid transparent;
  /* border-color: #1dc2a4; */
}
.ridobiko-btn a {
  color: white;
  text-decoration: none;
}
.ridobiko-btn :hover {
  background-color: rgb(35, 226, 207);
}
.ridobiko-btn:focus {
  border: none;
  outline: none;
}
.btn-inner {
  background-color: #1dc2a4;
  border-radius: 20px;
  padding: 7% 30%;
}
.month {
  font-weight: 500;
  line-height: 20px;
  font-size: 120%;
}
.pick-item {
  border-right: 2px solid #d9d9d9 !important;
}
.drop-time {
  border: none !important;
}
.dropdown {
  background-color: transparent;
}
.bold-text {
  font-weight: 650;
  font-size: 35px;
}
.dropdown-btn {
  background-color: transparent;
  padding: 0%;
  width: 100%;
  height: 100%;
  text-align: start;
}
.pickup-text {
  font-weight: 500;
  font-size: 15px;
  color: #4a4a4a;
}
.ant-radio-input:focus .outstation-trip {
  background-color: black;
}
.dropdown-menu {
  height: 270px;
  width: 100%;
  overflow-y: scroll;
}
.dropdown-toggle::after {
  display: none;
}
.radio-btn {
  padding: 2px 8px;
  border-radius: 30px;
}
.radio-btn--checked {
  background-color: #e7e7e7;
}
.radio-2 {
  margin: 0px 20px;
}
.trip-time-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.trip-time-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.trip-time-checkmark {
  position: absolute;
  top: 3px;
  left: 3px;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.trip-time-container:hover input ~ .trip-time-checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.trip-time-container input:checked ~ .trip-time-checkmark {
  background-color: #fff;
  border: 1px solid #1dc2a4;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.trip-time-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.trip-time-container input:checked ~ .trip-time-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.trip-time-container .trip-time-checkmark:after {
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  background: #1dc2a4;
}
.date-input {
  display: none;
}
